.my-footer {
  padding: 1em;
  height: 5em;
  background-color: #343a40;
  color: #ffffff;
  margin-top: 1.5em;
  font-size: 80%;
}

.room-image {
  width: 50%;
}

.datepicker {
  z-index: 1000 !important;
}

.swal2-html-container {
  overflow: unset;
}

.my-footer {
  padding: 1em;
  height: 5em;
  background-color: #343a40;
  color: #ffffff;
  margin-top: 1.5em;
  font-size: 80%;
}

.room-image {
  width: 50%;
}
